.navbar {
  color: #fff !important;
  background-color: #082032 !important;
  align-items: center;
}
.navbar-brand{
  color: #fff !important;
 }
 #basic-nav-dropdown{
   color: #fff !important;
 }
 
 #bs-navbar-active-color{
   color: hsl(0, 0%, 100%) !important;
 }
 
 .navbar-toggler-icon
 {
   background-color: #ffffff77 !important ;
   border-radius: 25% !important;
 }
 .navbar-toggler{
   border: none !important;
   color: #ffffffbb !important;
 }
 .nav-link{
   color: white;
 }
#basic-navbar-nav {
  display: grid;
  place-content: center;
<<<<<<< HEAD
  
}
.admin {
  margin-left: 15px;
=======
}
.adminLink {
  margin: 10px;
  font-weight: bold;
>>>>>>> 898dd0ed5e1d20d4cc023620ed116456104435d7
}